CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

Vagrantfile
.vagrant/
eccube-3.0.5.tar.gz

.idea/*

eccube-3.0.5/app/cache/*
